/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--gradient);
  background-size: cover;
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  min-height: 100vh; 
  font-family: var(--main-font), sans-serif;
  padding-block: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* стили для шапки */

.header {
  inline-size: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--bg-color);  
  border: var(--border_card);
  padding-block: clamp(122px, 5vw + 50px, 130px);
}

.header_title {
  font-family: var(--accent-font), fantasy;
  text-transform: uppercase;
  font-size: clamp(2.5rem, 8vw, 4rem);
}

.header_subtitle {
  font-family: var(--accent-font), fantasy;
  text-transform: uppercase;
  font-size: clamp(1rem, 3vw, 1.5rem);
}

/* стили для основного тела сайта и карточек */

.main {
  display: flex;
  flex-direction: column;
  margin-block-start: 100px;
  align-items: center;
  gap: 50px;
  width: 100%;
  max-width: 700px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);  
  border: var(--border_card);
}

.card_title {
  font-variation-settings: 'wght' 715;
  font-size: 18px;
  display: flex;
  padding: 4px 10px;
}

.card_picture {
  position: relative;
  border-block: var(--border_card);
}

.card_picture img {
  width: 100%;
  position: relative;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1
}

.whater_lable {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--border_text-color); 
  text-shadow: 1px rgba(255, 255, 255, 0.5);
  mix-blend-mode: hard-light; 
  opacity: 0.5;
}

@supports (-webkit-text-stroke: 1px rgba(255, 255, 255, 0.5)) {
  .whater_lable {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5)
  }
}

.card_content {
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' 410;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-inline: 25px;
  padding-block-start: 27px;
}

.like_block {
  display: flex;
  align-self: end;
  align-items: center;
  justify-content: center;
  margin-inline-end: 25px;
  margin-block: 25px;
  gap: 12px;
  border: none;
}

.like {
  border: 2px solid var(--border_text-color);
  display: flex;
  block-size: 100%;
  inline-size: 130px;
  align-items: center;
  justify-content: center;
  height: 38px;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  height: 38px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: border-color 0.3s ease;
}

.like-icon.is-liked {
  animation: heart-animation 0.3s ease-in 0.1s;
  transform-origin: center;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear 0s;
}

.like-icon .sparks {
   opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks-animation 0.3s ease-in 0.3s;
}

/* стили для футера - блока "сохрани на память" с диалоговым окном */

.save_button {
  max-block-size: 84px;
  min-block-size: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: var(--border_card);
  margin-block-start: 50px;
  padding-inline: 20px;
  gap: 8px;
  color: var(--border_text-color);
}

.floppy_icon_button {
  width: 28px;
  height: 28px;
}

.button__text {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 90%;
  white-space: nowrap;
  mix-blend-mode: difference;
  color: var(--bg-color);
}

.need-save_card {
  display: none;
}

.need-save_card[open] {
  max-inline-size: 353px;
  min-inline-size: 341px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 30px;
  gap: 30px;
  padding-inline: 30px;
}

#save-card::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.need-save_block {
  display: flex;
  gap: 20px;
  align-items: center;
}

.need-save-text {
  font-family: var(--accent-font),fantasy;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.ok_button {
  height: 38px;
  border: var(--border_card);
}

.floppy_icon {
  min-width: 39px;
  height: 39px;
}

/* стили для состояний и анимация */

button {
  cursor: pointer;
}

.button {
  outline: none;
  position: relative;
  overflow: hidden;
  background-color: var(--bg-color); 
  transition: box-shadow 0.3s ease;
}

.button span,
.button symbol {
  position: relative;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--border_text-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  z-index: 0;
}

.button:hover::before {
  transform: scaleX(1);
}

.button svg {
  color: var(--bg-color);
  mix-blend-mode: difference;
}

.button:focus {
  box-shadow: 2px 2px 0px var(--border_text-color);
} 

.card__icon-button:focus-visible {
  outline: none;
  border-color: var(--border_text-color);
}

.like-icon:hover .core {
  fill: var(--border_text-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--border_text-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core,
.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body,
.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

/* Фильтры для картинок */

.lets_go {
  filter: saturate(150%);
}

.avadakedavra {
  filter: hue-rotate(-140deg);
}

.fire {
  filter: contrast(150%) hue-rotate(-40deg)
}

.troble {
  filter: sepia(50%);
}

.tired {
  filter: grayscale(1) contrast(40%) blur(3px);
}

.pu_pu_puu {
  filter: opacity(0.7) brightness(120%)
}

.radical {
  filter: saturate(200%);
}

.next_please {
  filter: invert(90%);
}

/* медиазапросы для экранов 375px */

@media (width <= 375px) {
  .save_button {
    flex-direction: column;
    padding-block: 17px;
  }

  .need-save_card {
  padding-inline: 40px !important;
  }
}

