/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P';
  --title-font-weight: 715;
  --text-font-weight: 410;
  --bg-color: #fff;
  --border_text-color: #000;
  --animation-fill-color: #ff0000;
  --border_card: 2px solid #000;
  --gradient: 
        repeating-linear-gradient(
            90deg,
            #d3d3d3,
            #d3d3d3 2px,
            transparent 2px,
            transparent 4px
        ),
        repeating-linear-gradient(
            0deg,
            #d3d3d3,
            #d3d3d3 2px,
            transparent 2px,
            transparent 4px
        ),
        linear-gradient(
            to bottom,
            #e7e7e7 0%,
            #e7e7e7 0.01%,
            #1a1a1a 100%
        );

}